/* MODAL BUTTON */
.popup-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 300;
  display: inline-block;
  width: 60px;
  height: 60px;
}
.popup-icon button {
  background-color: transparent;
  outline: none;
  border: none;
}
.modal-btn img {
  width: 60px;
  height: 60px;
}
.modal-btn img:hover {
  opacity: 0.7;
  transition: 0.5s ease;
}

/* MODAL */
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  transform: all 0.6s;
  overflow: scroll;
  margin-top: 5.5%;
}
.modal::-webkit-scrollbar {
  display: none;
}

/* MODAL CONTENT */
.modal-content {
  /* text-align: center; */
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  align-items: center;
}
.modal-animated-in {
  animation: totop-in 0.6s ease;
}
.modal-animated-out {
  animation: totop-out 0.6s ease forwards;
}

/* MODAL HEADER */
.modal-header {
  border-bottom: none;
}
.modal-header h3 {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 64px;
  margin-top: 25%;
  border-bottom: none;
  margin-bottom: 20px;
}
.modal-header em {
  font-style: normal;
  font-weight: 200;
}
.modal-content .close-btn {
  position: absolute;
  z-index: 99999999;
  color: #fff;
  right: 38px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

/* MODAL BODY */
.modal-body {
  text-align: center;
  margin: 0 auto;
  left: 15rem;
  /* margin-top: 3rem; */
}
.modal-body input {
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  align-items: center;
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border: 1.5px solid rgb(232, 150, 88);
  outline: 1.5px rgb(232, 150, 88);
}
.modal-body input::placeholder {
  color: #fff;
  font-size: 16px;
}
.modal-body textarea {
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
  align-items: center;
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 25px;
  border: 1.5px solid rgb(232, 150, 88);
  outline: 1.5px rgb(232, 150, 88);
}
.modal-body textarea::placeholder {
  color: #fff;
  font-size: 16px;
}
.modal-body button {
  border-radius: 0px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 0px 0px 3px 0px;
  transition: all 0.5s;
  border-top: none;
  border-right: none;
  border-left: none;
}
.modal-body button:hover {
  color: rgba(250, 250, 250, 0.5);
  border-color: rgba(250, 250, 250, 0.5);
  outline: none;
}
