body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #343537;
    z-index: -10;
    top: 0;
    left: 0;
}


.container {
    z-index: 100;
    position: relative;
}

a:hover {
    text-decoration: none;
  }

/* nav,
.breadcrumb {
    background-color: rgba(127, 184, 201, .5)
    
} */

/* nav { */
    /* background-color: #93B7BE; */
    /* height: 4rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    display: flex;
    justify-content: space-between;
} */
.navbar {
    margin-bottom: 0;
    background-color: #93B7BE;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a {
    color: #fff !important;
}
.navbar-nav li a:hover {
    color: #F1BF98 !important;
    background-color: #fff !important;
}

.navbar-right {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}


.modal {
    z-index: 10000;
}