body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #343537;
    z-index: -10;
    top: 0;
    left: 0;
}


.container {
    z-index: 100;
    position: relative;
}

a:hover {
    text-decoration: none;
  }

nav,
.breadcrumb {
    background-color: #93B7BE;
}

nav {
    /* background-color: #93B7BE; */
    height: 4rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    display: flex;
    justify-content: space-between;
}

/* .breadcrumb {
    background-color
} */


.modal {
    z-index: 10000;
}